# Ignore preprocessing log files
preprocessing_*.log


# Ignore wandb directory
wandb/

# Ignore logs directory
logs/

code/models/bert*/
code/models/llama*/

# Ignore Python compiled files
*.pyc
__pycache__/